<!DOCTYPE html>
<html lang="en" >
<head>

    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>@ViewData["Title"] - merimnaSofoklis</title>
    <!-- Stylesheets-->
    <link rel="icon" href="~/template/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:400,700%7COpen+Sans:300,400">
    <link rel="stylesheet" href="~/template/css/bootstrap.css">
    <link rel="stylesheet" href="~/template/css/fonts.css">
    <link rel="stylesheet" href="~/template/css/style.css">
    <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
        <![endif]-->
</head>
<body>

    <div class="page-loader">
        <div>
            <div class="page-loader-body">
                <div class="cssload-loader">
                    <div class="cssload-inner cssload-one"></div>
                    <div class="cssload-inner cssload-two"></div>
                    <div class="cssload-inner cssload-three"></div>
                </div>
            </div>
        </div>
    </div>

    <header class="page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
            <nav class="rd-navbar rd-navbar-transparent" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fullwidth" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-sm-stick-up-offset="1px" data-md-stick-up-offset="37px" data-lg-stick-up-offset="46px" data-xxl-stick-up-offset="1px" data-md-stick-up="true" data-lg-stick-up="true" data-xl-stick-up="true">
                <div class="rd-navbar-outer outer-transparent">
                    <div class="rd-navbar-panel">
                        <!-- RD Navbar Toggle-->
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-inner"><span class="toggle-icon"></span></button>
                        <!-- RD Navbar Brand--><a class="rd-navbar-brand" href="./"><img class="brand-mini" src="images/brand.png" width="138" height="18" alt=""></a>
                    </div>
                    <div class="rd-navbar-inner">
                        <!-- RD Navbar Panel-->
                        <div class="rd-navbar-cell rd-navbar-brand-wrap">
                            <!-- RD Navbar Brand--><a class="rd-navbar-brand" href="./"><img class="brand-normal" src="images/brand.png" width="138" height="18" alt=""><span class="brand-slogan">Διεθνές Πανεπιστήμιο της Ελλάδος</span></a>
                        </div>
                        <!-- RD Navbar Nav-->
                        <div class="rd-navbar-cell rd-navbar-nav-wrap">
                            <!-- RD Navbar Nav-->
                            <ul class="rd-navbar-nav rd-navbar-nav-default">
                                <li class="active">
                                    <a href="./">Home</a>
                                    <!-- RD Navbar Megamenu-->
                                    <ul class="rd-navbar-megamenu">
                                        <li>
                                            <p class="rd-megamenu-header">Health and Wellness</p>
                                            <ul class="rd-megamenu-list">
                                                <li><a href="health-services.html">Health Services</a></li>
                                                <li><a href="prevention-support.html">Prevention and On Campus Support</a></li>
                                                <li><a href="wellness-courses.html">Wellness Courses</a></li>
                                            </ul>
                                            <p class="rd-megamenu-header">News</p>
                                            <ul class="rd-megamenu-list">
                                                <li><a href="post-page.html">Post page</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <p class="rd-megamenu-header">Elements</p>
                                            <ul class="rd-megamenu-list">
                                                <li><a href="typography.html">Typography</a></li>
                                                <li><a href="tabs-and-accordions.html">Tabs & Accordions</a></li>
                                                <li><a href="progress-bars.html">Progress bars</a></li>
                                                <li><a href="tables.html">Tables</a></li>
                                                <li><a href="forms.html">Forms</a></li>
                                                <li><a href="buttons.html">Buttons</a></li>
                                                <li><a href="grid.html">Grid</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <p class="rd-megamenu-header">Sports</p>
                                            <ul class="rd-megamenu-list">
                                                <li><a href="competitions.html">Competitions</a></li>
                                                <li><a href="sports-leaders.html">Sports Leaders</a></li>
                                                <li><a href="sports-teams.html">Sports Teams</a></li>
                                            </ul>
                                            <p class="rd-megamenu-header">Layouts</p>
                                            <ul class="rd-megamenu-list">
                                                <li><a href="home-light.html">Home Light</a></li>
                                                <li><a href="home-sidebar.html">Home Sidebar</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <p class="rd-megamenu-header">Pages</p>
                                            <ul class="rd-megamenu-list">
                                                <li><a href="404.html">404</a></li>
                                                <li><a href="503.html">503</a></li>
                                                <li><a href="maintenance.html">Maintenance (Under Construction)</a></li>
                                                <li><a href="coming-soon.html">Coming soon</a></li>
                                                <li><a href="site-map.html">Site Map</a></li>
                                                <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                                <li><a href="terms-of-use.html">Terms of Use</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="about.html">About</a></li>
                                <li>
                                    <a href="events.html">Events</a>
                                    <!-- RD Navbar Dropdown-->
                                    <ul class="rd-navbar-dropdown">
                                        <li><a href="event-page.html">Event page</a></li>
                                    </ul>
                                </li>
                                <li><a href="clubs.html">Clubs</a></li>
                                <li>
                                    <a href="#">Health & Wellness</a>
                                    <!-- RD Navbar Dropdown-->
                                    <ul class="rd-navbar-dropdown">
                                        <li><a href="health-services.html">Health services</a></li>
                                        <li>
                                            <a href="prevention-support.html">Prevention and On Campus Support</a>
                                            <!-- RD Navbar Dropdown-->
                                            <ul class="rd-navbar-dropdown">
                                                <li><a href="#">Student center</a></li>
                                                <li><a href="#">Psychological services</a></li>
                                                <li><a href="#">Counseling</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="wellness-courses.html">Wellness courses</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Services</a>
                                    <!-- RD Navbar Dropdown-->
                                    <ul class="rd-navbar-dropdown">
                                        <li><a href="housing.html">Housing</a></li>
                                        <li><a href="vending.html">Vending</a></li>
                                    </ul>
                                </li>
                                <li><a href="volunteering.html">Volunteering</a></li>
                                <li>
                                    <a href="#">Sports</a>
                                    <!-- RD Navbar Dropdown-->
                                    <ul class="rd-navbar-dropdown">
                                        <li><a href="competitions.html">Competitions</a></li>
                                        <li><a href="sports-leaders.html">Sports leaders</a></li>
                                        <li><a href="sports-teams.html">Sports Teams</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!-- RD Navbar Panel Right-->
                        <div class="rd-navbar-cell rd-navbar-panel-right">
                            <!-- RD Navbar Nav-->
                            <ul class="rd-navbar-nav rd-navbar-nav-right">
                                <li><a href="student-help.html">Student help</a></li>
                                <li><a href="news.html">News</a></li>
                                <li><a href="contact-us.html">Contact us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>



    <!-- sofoklis - - Body - - page Begin -->


            @RenderBody()

    <!-- sofoklis - - Body - - page End -->



    <script src="~/template/js/core.min.js"></script>
    <script src="~/template/js/script.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
